.aba {
    display: flex;
    gap: 200px;
    align-items: baseline;
    flex-direction: row;
    margin-bottom: 30px;
}

#muda3{
    width: 100px;
    margin-left: 50px;
}

.aba .bemvindo h1 {
    font-size: 30px;
    color: rgb(3, 97, 3);
}
 
.exit a {
    display: inline-block;
    padding: 10px 30px;        
    background-color: rgb(27, 161, 27);
    color: white;              
    text-align: center;
    text-decoration: none;     
    border-radius: 50px;       
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease; 
    cursor: pointer;
}

.exit a:hover {
    background-color: rgb(23, 133, 23);
}

.carrinho-flutuante {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .carrinho-flutuante button {
    background-color: #155724;
    border: none;
  }
  
  .carrinho-flutuante button:hover {
    background-color: #0d3e16;
  }
  
  .carrinho-flutuante div {
    margin-top: 5px;
    font-weight: bold;
  }
  